body{
    background: linear-gradient(100deg, #2787f5, #29c5e0);
}
.denglu{
    border: 4px solid rgb(74, 135, 228, );
    width: 750px;
    height: 500px;
    border-radius: 10px;
    margin-left: 520px;
    margin-top: 185px;
    background: rgba(119, 163, 199, 84%);
    
}
.left{
    width: 200px;
    height: 500px;
}
@media screen and (max-width: 600px) {
    .denglu{
        border: 4px solid rgb(7, 180, 248);
        width: 400px;
        height: 200px;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -50px;
        margin-top: -300px;
        background: rgba(119, 163, 199, 84%);
    }
  }
  .wenzi{
    margin-left: 100px;
  }
  .daxiao{
    font-size: 50px;
  }
  body {
    font-family: 'Avicii', sans-serif;
  }
  .shuru{
    width: 350px;
    height: 50px;
    border: 0;
    border-radius: 13px;
  }
  .shuru2{
    width: 350px;
    height: 50px;
    border: 0;
    border-radius: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
 .anniu{
    width: 100px;
    height: 30px;
    border: 0px;
    border-radius: 13px;
    margin-bottom: 20px;
    margin-left: 100px;
 }
 a{
    font-size: 32px;
    text-decoration:none;
    border: 3px solid rgb(230, 239, 240);
    border-radius: 13px;
    padding: 5px;
    margin-left: 100px;
}
.azi{
    font-size: 30px;
}
